.formo {
    display: none;
}

.image img {
    height: 300px;
}

@media (max-width: 600px) {
    .responsive-div {
        display: none;
    }

    .con {
        margin: 0 auto;
    }

    .formo {
        display: block;
    }
}