
<footer>
    <hr>
    <div class="relative">
        <div class="footer-box-content">
            <p style="line-height: 24px">Công ty Cổ phần Sách điện tử Waka - Tầng 6, tháp văn phòng quốc tế Hòa Bình, số 106, đường Hoàng Quốc Việt, phường Nghĩa Đô, Quận Cầu Giấy, thành phố Hà Nội, Việt Nam.</p>
            <p style="line-height: 24px">ĐKKD số 0108796796 do SKHĐT TP Hà Nội cấp ngày 24/06/2019 | Chịu trách nhiệm nội dung: Ông Đinh Quang Hoàng<br>
                Giấy xác nhận Đăng ký hoạt động phát hành xuất bản phẩm điện tử số 8132/XN-CXBIPH do Cục Xuất bản, In và Phát hành cấp ngày 31/12/2019<br>
                Giấy chứng nhận Đăng ký cung cấp dịch vụ nội dung thông tin trên mạng Viễn thông di động số 19/GCN-DĐ do Cục Phát thanh, truyền hình và thông tin điện tử ký ngày 11/03/2020</p>
            <p style="line-height: 24px">Số VPGD: 024.73086566 | Số CSKH: 1900545482 nhánh 5 | Hotline: 0877736289</p>
        </div>
    </div>
</footer>