.bread-fl a {
    text-decoration: none;
}

.brad-a a {
    color: gray;
}

.bread-fl {
    display: flex;
    gap: 10px;
}

.bread-fl a {
    font-size: 14px;
}

.bread-fl i {
    font-size: 14px;
}

.brad-name a {
    color: #21A185;
}


.phanchia {
    display: flex;
}

.left {
    width: 30%;
    padding: 50px;
}

.left img {
    width: 100%;
}

.center {
    width: 46%;
    padding-top: 50px;
}

.book-info-text h1 {
    font-size: 24px;
}

.right {
    width: 24%;
    padding-top: 20px;
}

.book-info-line {
    display: flex;
    align-items: center;
}

.book-info-line h3 a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
    margin-left: 7px;
}

.center p a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
    margin-left: 7px;
    margin-top: 0px;
}

.center p {
    font-size: 15px;
}

.book-info-text p {
    line-height: 14px;
}

.ga_click button {
    background-color: #21A185;
    color: white;
    border: none;
    width: 150px;
    min-height: 40px;
    margin-bottom: 20px;
}

.right h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
}

.recommend-book-item {
    display: flex;
    padding: 20px;
}

.recommend-book-item img {
    width: 100%;
    height: 100px;
}

.card-body {
    width: 50%;
    padding: 10px;
}

.card-body a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.author a{
    color: gray;
}