<div class="new-week-header waka-box-header-2 relative"><h2><a href="/moi-trong-tuan">Mới trong tuần</a></h2><a href="/moi-trong-tuan" class="new-week-see-all absolute green-text ga_click" data-gacategory="" data-gaaction="Click Xemtatca" data-galabel="Mới trong tuần" rel="nofollow">Xem tất cả</a></div>
<swiper class="test" [slidesPerView]="5" [spaceBetween]="46" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
    [navigation]="true" [scrollbar]="{ draggable: true }">

    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46120.jpg?v=1&amp;w=200&amp;h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46117.jpg?v=1&w=200&h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46114.jpg?v=1&w=200&h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46111.jpg?v=1&w=200&h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46102.jpg?v=1&w=200&h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/39950.jpg?v=1&w=200&h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46120.jpg?v=1&amp;w=200&amp;h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46120.jpg?v=1&amp;w=200&amp;h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="swiper-slide swiper-slide-active">
            <div class="card-item new-week-card-item ga_click pique_click" data-gacategory="Home"
                data-gaaction="Click Moi trong tuan" data-galabel="Detail" data-type="book" data-pid="46120">
                <div class="card box-shadow">
                    <div class="book-bg-2 no-freelancer"><img class="card-img-top"
                            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46120.jpg?v=1&amp;w=200&amp;h=292"
                            alt="[Tóm tắt sách] Tiểu sử Elon Musk" title="[Tóm tắt sách] Tiểu sử Elon Musk"></div><a
                        class="read-b"
                        href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-rLqDGW.html?type=1"><span
                            class="view-b-icon undefined"></span></a>
                    <div class="card-body">
                        <h3 class="card-title"><a rel="nofollow"
                                href="https://ebook.waka.vn/tom-tat-sach-tieu-su-elon-musk-walter-isaacson-bLqDGW.html">[Tóm
                                tắt sách] Tiểu sử Elon Musk</a></h3>
                        <div class="card-text">
                            Isaacson
                        </div>

                        <div class="hr"></div>
                        <div class="">
                            <span class="price">12</span> $
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</swiper>