h3 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.swiper-slide {
    width: 190px;
    height: 500p
}

.card-text {
    font-size: 13px;
    color: gray;
}

.card-footer {
    font-size: 15px;
}

.hr {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
    background-color: rgb(203, 203, 203);
}

.price {
    color: rgb(55, 162, 159);
}

.test{
    padding: 0px;
    margin: 0px auto;
    width: 95%;
}

.new-week-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.new-week-header h2 a{
    font-size: 23px;
    text-decoration: none;
    color: black;
}

.new-week-header a{
    color: burlywood;
    text-decoration: none;
}