<div class="sidebar">
    <div class="saiba">
        <div class="danhmuc"><i class="fa-solid fa-bars"></i>Danh mục sản phẩm</div>
        <div>
            <ul>
                <li><a href="">Truyện tranh dài tập</a></li>
                <li><a href="">Truyện tranh dài tập</a></li>
                <li><a href="">Truyện tranh dài tập</a></li>
                <li><a href="">Truyện tranh dài tập</a></li>
                <li><a href="">Truyện tranh dài tập</a></li>
                <li><a href="">Truyện tranh dài tập</a></li>
            </ul>
        </div>
    </div>
    <div class="wip-container">
        <swiper class="test" [slidesPerView]="1" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
            [navigation]="true" [scrollbar]="{ draggable: true }">

            <ng-template swiperSlide>
                <img src="https://theme.hstatic.net/200000343865/1001052087/14/ms_banner_img2.jpg?v=337" alt="">
            </ng-template>
            <ng-template swiperSlide>
                <img src="https://theme.hstatic.net/200000343865/1001052087/14/ms_banner_img2.jpg?v=357" alt="">
            </ng-template>
        </swiper>
    </div>
</div>
<div class="im">
</div>