<div style="margin-bottom: 130px;" class="container-fluid bg-white ">
    <h4>Thêm sản phẩm </h4>
    <div class="row bg-white">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <label for="bookTitle">
                        Tên sách
                    </label>
                    <input type="text" class="form-control" id="bookTitle" />
                </div>
                <div class="form-group">
                    <label for="bookAuthor">
                        Tác giả
                    </label>
                    <input type="text" class="form-control" id="bookAuthor" />
                </div>
                <div class="form-group">
                    <label for="bookDescription">
                        Mô tả
                    </label>
                    <textarea class="form-control" id="bookDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="bookPrice">
                        Giá
                    </label>
                    <input type="number" class="form-control" id="bookPrice" />
                </div>
                <div class="form-group">
                    <label for="bookCategory">
                        Danh mục
                    </label>
                    <select class="form-control" id="bookCategory">
                        <option value="1">Danh mục 1</option>
                        <option value="2">Danh mục 2</option>
                        <!-- Thêm các tùy chọn danh mục khác -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="bookImage">
                        URL Ảnh
                    </label>
                    <input type="text" class="form-control" id="bookImage" />
                </div>

                <button type="submit" class="btn btn-primary">
                    Thêm Sách
                </button>
            </form>
        </div>
    </div>
</div>